.sessionWrap { text-align: center; display: flex; align-items: center; justify-content: center; background-image: url('../image/login-img.jpg'); background-position: 50%; background-size: cover; background-repeat: no-repeat; min-height: 100vh; overflow-y: hidden; height: 300px; position: relative; }
.sessionWrap .contact-form-wrap { width: 390px; border-radius: 15px; padding: 3rem; box-shadow: 0 0 20px 0 rgba(0, 0, 0, .07); position: relative; display: flex; flex-direction: column; background-color: #fff; background-clip: border-box; border: 0 solid rgba(0, 0, 0, .125); }
.contact-form-wrap  .formField input { display: block; width: -webkit-fill-available; height: calc(1em + 1rem + 2px); padding: 1rem 1.9rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .625rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
.contact-form-wrap img { margin: 0 auto; display: inline-block; margin-bottom: 40px; }
.contact-form-wrap  .formField { margin-bottom: 20px; }
.contact-form-wrap .buttons { margin-top: 10px; margin-bottom: 10px; }
.contact-form-wrap .buttons { display: flex; gap: 20px; }
.contact-form-wrap .buttons .btn { width: 100%; display: flex; font-size: 16px; font-weight: 600; cursor: pointer; align-items: center; justify-content: center; text-decoration: none; }
.contact-form-wrap .bottomLineContent a { color: #17be6b; text-decoration: none; }

@media (max-width:767px) {
  .sessionWrap .contact-form-wrap { margin: 0 16px; padding: 2rem; }
}
