@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;900&display=swap);
body { margin: 0; }
body, body h1, body h2, body h3, body h4, body h5, body h6, body p { font-family: "Poppins",sans-serif; }
/* reset css */
p { font-size: 1rem; line-height: 1.74; color: #555; }
a { font-size: 14px; }
/* closed */

/* button css common */
button.btn.btnPrimary { background: #17be6b; color: #fff; border: none; padding: 16px 20px; border-radius: 100px; }
a.btn.btnGreen { background: #2e8cf0; color: #fff; border: none; padding: 16px 20px; border-radius: 100px; }

button:focus, button:focus-visible, input:focus, input:focus-visible { outline: none; }
